<div class="widgets">
  <div class="row">

    <div class="col-md-3">
        <ba-card-segmented [baCardClass]="with-scroll" [segments]="widgets" [segmentDataClass]="" [dataItemClass]=""></ba-card-segmented>

        <ba-card title="Select a Widget" baCardClass="with-scroll">
            <div class="row icons-list success awesomeIcons">
                <div class="col-xs-6" *ngFor="let icon of icons.fontAwesomeIcons"><i class="fa {{ icon }}"></i></div>
            </div>
       </ba-card>

    </div>

    <div class="col-md-6">
      WORKBENCH
    </div>

    <div class="col-md-3">
      TILES      
    </div>

  </div>
</div>
