<div class="widgets">

        <!--        <div class="button-wrapper col-md-6"> -->
        <div class="col-md-12">
                <ba-card baCardClass="">
                    <div class="form-group row">
                            <button class="btn btn-default btn-raised" type="button" (click) = "onSave()">Save</button>
                            <button class="btn btn-default btn-raised" type="button" (click) = "onDuplicate()">Duplicate</button>
                            <button class="btn btn-default btn-raised" type="button" (click) = "onNew()">New</button>
                            <button class="btn btn-default btn-raised" type="button" (click) = "onDelete()">Delete</button>
                            <button class="btn btn-default btn-raised" type="button" (click) = "onPreview()">Preview</button>
                    </div>
                        <!-- TODO change css -->
                        <div class="form-group row">
                                <label for="name">Name: </label>
                                        <div [ngSwitch]="_store._selected_composite_index">
                                                <div *ngSwitchCase="0 - 1">
                                                        <input class="form-control" [value]="" (input)="onNameSet($event.target.value)" id="name" type="text" placeholder="Enter a Name">
                                                </div>
                                                <div *ngSwitchDefault>
                                                        <input class="form-control" [value]="_store.selected_composite.metadata.identifiers.name" (input)="onNameChange($event.target.value)" id="name" type="text" placeholder="Enter a Name">
                                                </div>
                                        </div>
                        </div>
                </ba-card>
        </div>


        <div class="row">
            
                <div class="col-md-3">
                    <ba-card title="Tiles" baCardClass="with-scroll">
                            <tiles [contentStream]="_store.basic_content" (onSelected)="onSelected($event)"></tiles>
                    </ba-card>     
                </div>

                <div class="col-md-6">
                    <ba-card title="Selected Tiles" baCardClass="with-scroll">
                            <selected-tiles [contentStream]="_store.selected_content"></selected-tiles>
                    </ba-card>     
                </div>

                <div class="col-md-3">
                    <ba-card title="Procedures" baCardClass="with-scroll">
                            <procedures [contentStream]="_store.composite_content" (onSelected)="onSelected($event)"></procedures>
                    </ba-card>     
                </div>

        </div>


</div>

